<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>登录</title>

	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	 <!--//Meta-Tags-->

	<!-- Style --> <link rel="stylesheet" href="__CSS__/login.css" type="text/css" media="all">

	<script src="__JS__/angular.js"></script>
	<script src="__JS__/jquery-2.1.4.js"></script>
	<script src="__JS__/jquery-form.js"></script>
</head>
<!-- //Head -->
<!-- Body -->
<body ng-app="">

<img src="__STATIC__/img/logo.png">

<div class="container w3layouts agileits">
	<div class="login w3layouts agileits">
		<h2>登 录</h2>
		<div class="send-button w3layouts agileits">

			<form id="formLogin"  name="formLogin" method="post" action='{:url("web/Login/doLogin")}'>
				<div>
					<input type="text" name="id" placeholder="用户名" required ng-model="name" ng-maxlength="10" ng-blur="id = true">
					<span ng-show="formLogin.id.$error.required && id" style="color:red">用户名不能为空</span>
					<span ng-show="formLogin.id.$error.maxlength"  style="color: red">请控制用户名长度</span>
					<!--<span ng-show="myForm.id.$error.pattern"  style="color: red">必须是数字组成</span>-->
				</div>
				<div>
					<input type="password" name="pwd" placeholder="密码" required ng-model="password" ng-maxlength="32"  ng-pattern='/^[A-Za-z0-9]+$/' ng-blur="pwd = true">
					<span ng-show="formLogin.pwd.$error.required && pwd"  style="color: red">密码不能为空</span>
					<span ng-show="formLogin.pwd.$error.maxlength"  style="color: red">请控制密码长度</span>
					<span ng-show="formLogin.pwd.$error.pattern"  style="color: red">必须是数字字母组成</span>
				</div>
				<div>
					<input type="text" name="code"  placeholder="请输入验证码">
				</div>
				<div><img src="{:captcha_src()}" alt="captcha" onClick="this.src=this.src+'?'+Math.random()" /></div>
				<ul class="tick w3layouts agileits">
					<li>
						<input type="checkbox" id="brand1" value="">
						<label for="brand1"><span></span>记住账号</label>
					</li>
				</ul>
				<input type="submit" ng-disabled="formLogin.$invalid" value="登 录">
			</form>

		</div>
		<a href="{$register_url}">注 册</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="{$login_url}" class="back">返回主页</a>

		<div class="clear"></div>
	</div><div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
	<div class="login w3layouts agileits" style="border: none">
		<div class="social-icons w3layouts agileits">

			<p>- 其他方式登录 -</p>
			<ul>
				<li class="qq"><a href="#">
					<span class="icons w3layouts agileits"></span>
					<span class="text w3layouts agileits">QQ</span></a></li>
				<li class="weixin w3ls"><a href="#">
					<span class="icons w3layouts"></span>
					<span class="text w3layouts agileits">微信</span></a></li>
				<li class="weibo aits"><a href="#">
					<span class="icons agileits"></span>
					<span class="text w3layouts agileits">微博</span></a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>

	<div class="clear"></div>

</div>

</body>
<script type="text/javascript">
    var HomeUrl='{:url("web/Register/register")}';
    var LoginUrl='{:url("web/Login/login")}';
        $("#formLogin").ajaxForm(function(data){
			if(data.code==10000){
                alert(data.msg);
                location.href=HomeUrl;
            }else if(data.code==10001){
                alert(data.msg);
                location.href=LoginUrl;
            }
            else if(data.code==10002){
                alert(data.msg);
                location.href=LoginUrl;
            }
            else if(data.code==10003){
                alert(data.msg);
                location.href=LoginUrl;
            }
            else if(data.code==10004){
                alert(data.msg);
                location.href=LoginUrl;
            }
        });
</script>

</html>