<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <script type="text/javascript" src="__JS__/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <script src="__JS__/jquery.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
</head>
<style scoped>
    .swiper-inner {
        width: 100%;
        height: 400px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
</style>
<style>
    /*body{*/
    /*padding: 20px;*/
    /*background: #ddd;*/
    /*}*/
    /*.message{*/
    /*border: 1px solid #ddd;*/
    /*padding: 0;*/
    /*background: white;*/
    /*}*/
    /*.tab-content{*/
    /*padding: 20px 0;*/
    /*}*/
    /*.message-tabs{*/
    /*background: white;*/
    /*padding: 20px*/
    /*}*/
    /*#all-message,#personal,#leave-word{*/
    /*min-height: 400px;*/
    /*border: 1px solid #ddd;*/
    /*}*/
    /*.chat-bg{*/
    /*display: inline-block;*/
    /*height: 400px;*/
    /*width: 50%;*/
    /*background: url("https://ws1.sinaimg.cn/large/93ab07cbgy1fpq8brumh4j206z04ljrf.jpg") no-repeat center center;*/
    /*}*/
    /*.chat-content{*/
    /*float: right;*/
    /*}*/
    /*.tab>li.active>a, .tab>li.active>a:focus, .tab>li.active>a:hover*/
    /*{*/
    /*background: #349Dff;*/
    /*color: white;*/
    /*}*/
    /*.flex-myEva{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*}*/
    /*.flex-myEva li{*/
    /*list-style-type: none;*/
    /*padding-right: 20px;*/
    /*}*/
    /*.page-box{*/
    /*display: flex;*/
    /*flex-direction: row-reverse;*/

    /*}*/
    /*.page-box .page-num{*/
    /*margin: 0 0 0 10px;*/
    /*}*/
    /*.jump-page{*/
    /*line-height: 25px;*/
    /*margin:0 10px;*/
    /*}*/
    /*.page-num{*/
    /*line-height: 30px;*/
    /*}*/
    /*.page-input{*/
    /*width: 45px;*/
    /*margin: 0 10px;*/
    /*}*/
    /*.btn-blue{*/
    /*border: 1px solid #349Dff;*/
    /*border-radius: unset;*/
    /*}*/
    /*.empty-box{*/
    /*background: url("https://ws1.sinaimg.cn/large/93ab07cbgy1fpq8brumh4j206z04ljrf.jpg") no-repeat 55px 80px;*/
    /*margin: 0 0 0 210px;*/
    /*padding-left: 340px;*/
    /*}*/
    /*.hint{*/
    /*line-height: 350px;*/
    /*}*/
    /*li{*/
    /*list-style-type: none;*/
    /*}*/
    /*.setInfo{*/
    /*background: white;*/
    /*border: 1px solid #f9f9f9;*/
    /*}*/
    /*.setOption{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*line-height: 50px;*/
    /*justify-content: space-between;*/
    /*}*/
    /*.bg-gray {*/
    /*background: #f9f9f9;*/
    /*}*/
    .active > .td {
        padding: 20px 0 20px 20px;
    }

    .tr > th {
        text-align: center;
    }

    .table > tbody > tr > td:nth-child(3) {
        text-align: center;
        padding: 20px 0;
    }

    .address {
        min-height: 350px;
        background: white;
        border: 1px solid #ddd;
        padding: 20px;
    }
    li{
        list-style-type: none;
    }
    .btn-blue {
        background: #349Dff;
        color: white;
    }
    .add-address li{
        margin-bottom: 20px;
        line-height: 25px;
    }
    .address-title{
        display: inline-block;
        width: 100px;
        padding-right: 20px;
        text-align: right;

    }
    .star{
        color: red;
        padding-right: 5px;
    }
    .wallet-info{
        line-height: 35px;
    }
    .body-right{
        border: 1px solid #ddd;
    }
    .gap{
        padding:0 20px 0 5px;
        color: red;
    }
    .setInfo li{

    }
    .setInfo ul{
        line-height: 40px;
    }
    .info{
        display: inline-block;
        width:80px;
        text-align: right;
        font-size: 15px;
        font-weight: bold;
    }
    .info-content{
        display: inline-block;
        padding-left: 20px;
        width:150px;
    }
    .reg-info{
        display: inline-block;
        width: 200px;
        padding-left: 20px;
    }
    .uimg{
        padding-left: 30px;
    }
    .title{
        padding: 20px 30px;
    }
</style>
<body>
<div><h1>测试页面</h1></div>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    测试
</button>
<!-- Modal -->

<div id="app">
    <template>
        <md-card>
            <md-card-actions>
                <div class="md-subhead">
                    <span>3D Coverflow Effect</span>
                    <span>（</span>
                    <span>3D滚动切换</span>
                    <span>）</span>
                </div>
                <md-button class="md-icon-button"
                           target="_blank"
                           href="https://github.com/surmon-china/vue-awesome-swiper/blob/master/examples/24-effect-coverflow.vue">
                    <md-icon>code</md-icon>
                </md-button>
            </md-card-actions>
            <md-card-media class="swiper-inner">
                <!-- swiper -->
                <swiper :options="swiperOption">
                    <swiper-slide>Slide 1</swiper-slide>
                    <swiper-slide>Slide 2</swiper-slide>
                    <swiper-slide>Slide 3</swiper-slide>
                    <swiper-slide>Slide 4</swiper-slide>
                    <swiper-slide>Slide 5</swiper-slide>
                    <swiper-slide>Slide 6</swiper-slide>
                    <swiper-slide>Slide 7</swiper-slide>
                    <div class="swiper-pagination" slot="pagination"></div>
                </swiper>
            </md-card-media>
        </md-card>
    </template>
    <div class="col-sm-10 body-right">
        <div class="setInfo">
            <ul class="basic-Info">
                <li class="title"><span >基本信息</span></li>
                <li class="uimg">
                    <img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpo3ddwesaj2028028wee.jpg" alt="">
                    <input type='file' class="file">
                </li>
                <li>
                    <span class="info">用户名:</span>
                    <span class="info-content">2qe2</span>
                    <a class="btn btn-blue">修改</a>
                </li>
                <li>
                    <span class="info">昵称:</span>
                    <span class="info-content">dqsda</span>
                    <a class="btn btn-blue">修改</a>
                </li>
                <li>
                    <span class="info">性别:</span>
                    <span class="info-content">dsd</span>
                    <a class="btn btn-blue">修改</a>
                </li>
                <li>
                    <span class="info">地区:</span>
                    <span class="info-content">sdsa</span>
                    <a class="btn btn-blue">修改</a>
                </li>
                <li>
                    <span class="info">年龄:</span>
                    <span class="info-content">18</span>
                    <a class="btn btn-blue">修改</a>
                </li>
                <li>
                    <span class="info">QQ:</span>
                    <span class="info-content">184324</span>
                    <a class="btn btn-blue">修改</a>
                </li>
                <li>
                    <span class="info">注册时间:</span>
                    <span class="reg-info">2018-03-29 11:29:00</span>
                </li>
            </ul>
        </div>
    </div>
        <!--<div class="wallet">-->
            <!--<div>-->
                <!--<ul class="col-sm-2">-->
                    <!--<li>-->
                        <!--<img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpo3ddwesaj2028028wee.jpg" alt="" class="img-responsive headImg clearfix">-->
                    <!--</li>-->
                    <!--<li><span class="username">用户名</span></li>-->
                <!--</ul>-->
                <!--<ul class="col-sm-10 wallet-info">-->
                    <!--<li><span >余额:</span><i>0</i>.00元 <span>积分:</span><span>暂无</span></li>-->
                    <!--<li><span >收入</span><i>0</i>笔，合计 <i>0.00</i>元&nbsp;|&nbsp;支出 <i>0</i>笔,合计 <i>0.00</i>元</li>-->
                    <!--<li><span>手机绑定:</span><span class="gap">未绑定</span><span>身份认证:</span><span class="gap">未认证</span><span>银行卡:</span><span class="gap">未绑定</span></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--<div>-->
        <!--<router-link to="/home">主页</router-link>-->
        <!--<router-link to="/news">新闻</router-link>-->
        <!--<router-link to='/about'>关于</router-link>-->
    <!--</div>-->
    <!--<div>-->
        <!--<router-view></router-view>-->
    <!--</div>-->
    <!--<div class="col-sm-10 body-right">-->
        <!--<div class="userInfo">-->
            <!--<div class="">-->
                <!--<img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpo3ddwesaj2028028wee.jpg" alt=""-->
                     <!--class="img-responsive headImg clearfix">-->
                <!--<ul class="info-list">-->
                    <!--<li><span class="username">用户名</span></li>-->
                    <!--<li><span>性别:</span><span>男</span></li>-->
                    <!--<li><span>余额:</span><i>0</i>.00元</li>-->
                <!--</ul>-->
                <!--<ul class="info-list">-->
                    <!--<li><span>手机号:</span><span>13489153871</span></li>-->
                    <!--<li><span>邮箱:</span><span>6133242@qq.com</span></li>-->
                    <!--<li><span>省份地区:</span><span>福建福州</span></li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div class="">-->
                <!--<ul class="nav nav-tabs">-->
                    <!--<li class="active"><a href="#home" aria-controls="home" data-toggle="tab">官方公告</a></li>-->
                    <!--<li><a href="#profile" aria-controls="profile"  data-toggle="tab">帮助</a></li>-->
                <!--</ul>-->
                <!--<div class="tab-content">-->
                    <!--<div class="tab-content">-->
                        <!--<div class="tab-pane fade in active" id="home">...12</div>-->
                        <!--<div class="tab-pane fade" id="profile">..23.</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="deal">-->
            <!--<ul id="myTab" class="nav nav-tabs">-->
                <!--<li class="active">-->
                    <!--<a href="#deal-nav" data-toggle="tab">我是买家</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#deal-nav" data-toggle="tab">我是卖家</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div id="myTabContent" class="tab-content">-->
                <!--<div class="tab-pane fade in active" id="deal-nav">-->
                    <!--<ul class="flex-container">-->
                        <!--<li class="item-flex">-->
                            <!--<img class="img-responsive"-->
                                 <!--src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobsanovbj200t00s741.jpg" alt=""><a-->
                                <!--href="">待付款</a><span class="deal-num">(0)</span>-->
                        <!--</li>-->
                        <!--<li class="item-flex">-->
                            <!--<img class="img-responsive"-->
                                 <!--src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobsafifdj200v00t3y9.jpg" alt=""><a-->
                                <!--href="">待发货</a><span class="deal-num">(0)</span>-->
                        <!--</li>-->
                        <!--<li class="item-flex">-->
                            <!--<img class="img-responsive sendGood"-->
                                 <!--src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobsajkqnj201200njr5.jpg" alt=""><a-->
                                <!--href="">发货中</a><span class="deal-num">(0)</span>-->
                        <!--</li>-->
                        <!--<li class="item-flex">-->
                            <!--<img class="img-responsive"-->
                                 <!--src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobsanovbj200t00s741.jpg" alt=""><a-->
                                <!--href="">已成交</a><span class="deal-num">(0)</span>-->
                        <!--</li>-->
                        <!--<li class="item-flex" style="border: none">-->
                            <!--<img class="img-responsive"-->
                                 <!--src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobsa42gjj200z00t3y9.jpg" alt=""><a-->
                                <!--href="">退款中</a><span class="deal-num">(0)</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class=" user-safe">-->
            <!--<ul>-->
                <!--<li class="safe-title">-->
                    <!--<span>您的安全服务</span>-->
                <!--</li>-->
                <!--<li class="safe-set">-->
                    <!--<div class="flex-safe">-->
                        <!--<div class="item-one">-->
                            <!--<span style="font-weight: bold">账户安全等级</span>-->
                            <!--<span style="font-weight: bold">1.25分</span>-->
                        <!--</div>-->
                        <!--<div class="item-two progress">-->
                            <!--<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"-->
                                 <!--aria-valuemax="100" style="width: 40%;">-->
                                <!--<span class="sr-only">40%</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="item-three">-->
                            <!--<span class="hint">请验证您的邮箱，提高账户安全！</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="safe-set">-->
                    <!--<ul class="flex-container">-->
                        <!--<li class="item-flex-img">-->
                            <!--<img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobpcjh1fj2012014mwy.jpg" alt=""-->
                                 <!--class="img-responsive">-->
                        <!--</li>-->
                        <!--<li class="item-flex-state"><span>未设置</span></li>-->
                        <!--<li class="item-flex-type"><span>身份验证</span></li>-->
                        <!--<li class="item-flex-info"><span>提升账号的安全性、信任级别。余额提现需进行身份校验，认证后有卖家记录账号不能修改认证信息。</span></li>-->
                        <!--<li class="item-flex-set"><a href="">设置</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="safe-set">-->
                    <!--<ul class="flex-container">-->
                        <!--<li class="item-flex-img">-->
                            <!--<img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobpcjh1fj2012014mwy.jpg" alt=""-->
                                 <!--class="img-responsive">-->
                        <!--</li>-->
                        <!--<li class="item-flex-state"><span>未设置</span></li>-->
                        <!--<li class="item-flex-type"><span>绑定手机</span></li>-->
                        <!--<li class="item-flex-info"><span>绑定手机后，您可以享受蜂鸟服务，如手机登录、设置交易密码、余额提现，短信提醒等。</span></li>-->
                        <!--<li class="item-flex-set"><a href="">设置</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="safe-set">-->
                    <!--<ul class="flex-container">-->
                        <!--<li class="item-flex-img">-->
                            <!--<img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpoc39rx1ij201501awea.jpg" alt=""-->
                                 <!--class="img-responsive">-->
                        <!--</li>-->
                        <!--<li class="item-flex-state"><span>未设置</span></li>-->
                        <!--<li class="item-flex-type"><span>邮箱验证</span></li>-->
                        <!--<li class="item-flex-info"><span>绑定邮箱可以提高账户安全等级，验证邮箱后可正常使用发布商品功能。</span></li>-->
                        <!--<li class="item-flex-set"><a href="">设置</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="safe-set" style="border: none">-->
                    <!--<ul class="flex-container">-->
                        <!--<li class="item-flex-img">-->
                            <!--<img src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpobpcjh1fj2012014mwy.jpg" alt=""-->
                                 <!--class="img-responsive">-->
                        <!--</li>-->
                        <!--<li class="item-flex-state"><span>未设置</span></li>-->
                        <!--<li class="item-flex-type"><span>交易密码</span></li>-->
                        <!--<li class="item-flex-info"><span>设置交易密码，可发布商品，查询余额，余额提现。</span></li>-->
                        <!--<li class="item-flex-set"><a href="">设置</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="">-->
            <!--<ul>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</div>
    <!--<div class="publish">-->
        <!--<ul class="nav nav-tabs">-->
            <!--<li class="active"><a href="#A-price" data-toggle="tab">一口价</a></li>-->
            <!--<li><a href="#sale" data-toggle="tab">拍卖</a></li>-->
            <!--<li class="col-sm-5 pull-right">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" placeholder="请输入商品名称">-->
                    <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="button">商品搜索</button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="tab-content">-->
            <!--<div class="tab-pane active" id="A-price">-->
                <!--<nav class="navbar navbar-default" style="">-->
                    <!--<div class="container-fluid">-->
                        <!--<nav class="row text-center" style="font-size: 15px;">-->
                            <!--<table class="row text-center"-->
                                   <!--style="font-size: 15px;line-height: 50px;width: 100%;margin-left: 0px;">-->
                                <!--<tr>-->
                                    <!--<td class="col-sm-2">商品名称</td>-->
                                    <!--<td class="col-sm-2">单价(元)</td>-->
                                    <!--<td class="col-sm-2">数量</td>-->
                                    <!--<td class="col-sm-2">实付金额(元)</td>-->
                                    <!--<td class="col-sm-2">订单状态</td>-->
                                    <!--<td class="col-sm-2">订单操作</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</nav>-->
                    <!--</div>-->
                <!--</nav>-->
                <!--<h3 style="line-height: 300px">暂无一口价记录哦~！</h3>-->
            <!--</div>-->
            <!--<div class="tab-pane" id="sale">-->
                <!--<nav class="navbar navbar-default" style="">-->
                    <!--<div class="container-fluid">-->
                        <!--<nav class="row text-center" style="font-size: 15px;">-->
                            <!--<table class="row text-center"-->
                                   <!--style="font-size: 15px;line-height: 50px;width: 100%;margin-left: 0px;">-->
                                <!--<tr>-->
                                    <!--<td class="col-sm-2">商品名称</td>-->
                                    <!--<td class="col-sm-2">单价(元)</td>-->
                                    <!--<td class="col-sm-2">数量</td>-->
                                    <!--<td class="col-sm-2">实付金额(元)</td>-->
                                    <!--<td class="col-sm-2">订单状态</td>-->
                                    <!--<td class="col-sm-2">订单操作</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</nav>-->
                    <!--</div>-->
                <!--</nav>-->
                <!--<h3 style="line-height: 300px">暂无拍卖记录哦~！</h3>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!--<div class="address">-->
<!--<a href="" class="btn  btn-blue btn-lg btn-block">+ 增加新的地址</a>-->
<!--<h3 class="text-center">您还没有收货地址，快点击上方按钮添加吧！</h3>-->
<!--</div>-->
<!--<table class="table table-striped">-->
<!--<tr class="active tr">-->
<!--<th class="col-sm-2" style="padding: 15px 0">名称</th>-->
<!--<th class="col-sm-8" style="padding: 15px 0">说明</th>-->
<!--<th class="col-sm-2" style="padding: 15px 0">操作</th>-->
<!--</tr>-->
<!--<tr class="active">-->
<!--<td class="col-sm-2 td">登陆密码</td>-->
<!--<td class="col-sm-8 td">安全强度高的登录密码可以使账号更安全，建议您设置一个包含数字和字母，并长度超过6位以上的登录密码。</td>-->
<!--<td class="col-sm-2">修改</td>-->
<!--</tr>-->
<!--<tr class="active">-->
<!--<td class="col-sm-2 td">邮箱未认证</td>-->
<!--<td class="col-sm-8 td">认证邮箱可提高账号的安全性和信任级别，同时也是找回密码等操作时验证您身份的途径之一。</td>-->
<!--<td class="col-sm-2 ">设置</td>-->
<!--</tr>-->
<!--<tr class="active">-->
<!--<td class="col-sm-2 td">手机未认证</td>-->
<!--<td class="col-sm-8 td">请设置有效的手机号，以便买家联系您，便于您提现和账号找回。</td>-->
<!--<td class="col-sm-2 ">设置</td>-->
<!--</tr>-->
<!--<tr class="active">-->
<!--<td class="col-sm-2 td">交易密码未设置</td>-->
<!--<td class="col-sm-8 td">交易密码用于账户提现，保证金缴纳，请妥善保管。</td>-->
<!--<td class="col-sm-2 ">设置</td>-->
<!--</tr>-->
<!--<tr class="active">-->
<!--<td class="col-sm-2 td">实名未设置</td>-->
<!--<td class="col-sm-8 td">实名用于提升账号的安全性和信任级别。余额提现时需进行身份校验，认证号账号不能修改认证信息。</td>-->
<!--<td class="col-sm-2">设置</td>-->
<!--</tr>-->
<!--</table>-->
<!--<div class="my-order">-->
<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a href="#all-order" data-toggle="tab">全部账单</a></li>-->
<!--<li><a href="#only-income"  data-toggle="tab" >只看收入</a></li>-->
<!--<li><a href="#only-expend"  data-toggle="tab" >只看支出</a></li>-->
<!--<li><a href="#cash-deposit"  data-toggle="tab" >保证金</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="all-order">-->
<!--<div class="empty-box">-->
<!--<h3 style="line-height: 300px">暂无账单记录哦~！</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="only-income">-->
<!--<div class="empty-box">-->
<!--<h3 style="line-height: 300px">暂无账单记录哦~！</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="only-expend">-->
<!--<div class="empty-box">-->
<!--<h3 style="line-height: 300px">暂无账单记录哦~！</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="cash-deposit">-->
<!--<div class="empty-box">-->
<!--<h3 style="line-height: 300px">暂无账单记录哦~！</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="history">-->
<!--<div class="empty-box">-->
<!--<h3 class="hint">暂无浏览记录</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="recycle">-->
<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a href="#recycle-order" data-toggle="tab">我的回收单</a></li>-->
<!--<li><a href="#recycle-eva"  data-toggle="tab" >回收评价</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="recycle-order">-->
<!--<div class="empty-box">-->
<!--<h3 style="line-height: 300px">暂无符合条件的记录哦~！</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="recycle-eva">-->
<!--<div class="empty-box">-->
<!--<h3 style="line-height: 300px">暂时没有评价记录哦~！</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="message-tabs">-->
<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--<ul class="nav nav-tabs tab" >-->
<!--<li class="active"><a href="#all-message" data-toggle="tab">全部消息</a></li>-->
<!--<li><a href="#personal"  data-toggle="tab" >个人消息</a></li>-->
<!--<li><a href="#leave-word"  data-toggle="tab" >我的留言</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="all-message">-->
<!--<div class="chat-bg">-->
<!--</div>-->
<!--<div class="chat-content">-->
<!--<h1>暂无消息</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="personal">-->
<!--<div class="chat-bg">-->
<!--</div>-->
<!--<div class="chat-content">-->
<!--<h1>暂无消息</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="leave-word">-->
<!--<ul class="nav nav-tabs tab" role="tablist">-->
<!--<li class="active"><a href="#get-leave-word" data-toggle="tab">我收到的留言</a></li>-->
<!--<li><a href="#pub-leave-word"  data-toggle="tab" >我发布的留言</a></li>-->
<!--</ul>-->
<!--<div class="tab-pane" id="get-leave-word">-->
<!--<div class="chat-bg">-->
<!--</div>-->
<!--<div class="chat-content">-->
<!--<h1>暂无消息</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tab-pane" id="pub-leave-word">-->
<!--<div class="chat-bg">-->
<!--</div>-->
<!--<div class="chat-content">-->
<!--<h1>暂无消息</h1>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-10 body-right">-->
<!--<div class="myeva">-->
<!--<ul class="nav nav-tabs tab">-->
<!--<li class="active"><a href="#buyer-eva" data-toggle="tab">来自买家的评价</a></li>-->
<!--<li><a href="#seller-eva"  data-toggle="tab" >来自卖家的评价</a></li>-->
<!--<li><a href="#give-her-eva"  data-toggle="tab" >给他人的评价</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="buyer-eva">-->
<!--<ul class="flex-myEva">-->
<!--<li><input type="radio" checked placeholder=""><span>&nbsp;全部</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;晒图</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;好评</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;中评</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;差评</span><span>(0)</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="tab-pane" id="seller-eva">-->
<!--<ul class="flex-myEva">-->
<!--<li><input type="radio" checked placeholder=""><span>&nbsp;全部</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;晒图</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;好评</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;中评</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;差评</span><span>(0)</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="tab-pane" id="give-her-eva">-->
<!--<ul class="flex-myEva">-->
<!--<li><input type="radio" checked placeholder=""><span>&nbsp;全部</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;晒图</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;好评</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;中评</span><span>(0)</span></li>-->
<!--<li><input type="radio" placeholder=""><span>&nbsp;差评</span><span>(0)</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="page-box" id="pageBar" data-total="0">-->
<!--<a href="" class="btn btn-blue">确定</a>-->
<!--<span class="jump-page">到第<input type="text" class="page-input">页</span>-->
<!--<span class="page-num">共 0 页</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</div>
</body>
<script>
    //组件
    const Home = {
        template: '<h3>我是主页</h3>'
    };
    const News = {
        template: '<h3>我是新闻</h3>'
    };
    const About = {
        template: '<h3>我是关于</h3>'
    };
    //配置路由
    const routes = [
        {path: '/home', component: Home},
        {path: '/news', component: News},
        {path: '/about', component: About},
        //重定向
        {path: '*', redirect: '/home'}
    ];
    //生成路由实例
    const router = new VueRouter({
        routes
    });
    //挂载到vue上
    new Vue({
        router,
        el: '#app'
    })


    //两个组件相互交互出传递信息，创建新的vue实例
    var VueSend = new Vue();
    //问卷列表组件
    // Vue.component('wjx-list',{
    //     template:'<div class="row">\n' +
    //     '                <div class="panel panel-info" v-for="(val,key) in wjxlist">\n' +
    //     '                    <div class="panel-heading">\n' +
    //     '                        <div style="display: inline-block">\n' +
    //     '                            <span>{{val.title}}</span>\n' +
    //     '                            <span>ID:{{val.id}}</span>\n' +
    //     '                        </div>\n' +
    //     '                        <div class="pull-right ">\n' +
    //     '                            <span class="right-eight">● 草稿</span>\n' +
    //     '                            <span class="right-eight">答卷: 0</span>\n' +
    //     '                            <span class="right-eight">{{val.time}}</span>\n' +
    //     '                        </div>\n' +
    //     '                    </div>\n' +
    //     '                    <div class="panel-body">\n' +
    //     '                        <ul>\n' +
    //     '                            <li class="col-sm-2 icon-img1"><img src="https://www.wjx.cn/images/newimg/pic-1/design.png" alt=""><span>设计问卷</span><span class="caret"></span></li>\n' +
    //     '                            <li class="col-sm-2 icon-img1"><img src="https://www.wjx.cn/images/newimg/pic-1/recovery.png" alt=""><span>发送问卷</span><span class="caret"></span></li>\n' +
    //     '                            <li class="col-sm-2 icon-img1"><img src="https://www.wjx.cn/images/newimg/pic-1/download.png" alt=""><span>分析&下载</span><span class="caret"></span></li>\n' +
    //     '                            <li class="col-sm-1 icon-img2"></li>\n' +
    //     '                            <li class="col-sm-1 icon-img"><img src="https://www.wjx.cn/images/newimg/pic-1/release-hover.png" alt=""><span>发布</span></li>\n' +
    //     '                            <li class="col-sm-1 icon-img"><img src="https://www.wjx.cn/images/newimg/pic-1/copy.png" alt=""><span>复制</span></li>\n' +
    //     '                            <li class="col-sm-1 icon-img"><img src="https://www.wjx.cn/images/newimg/pic-1/delete.png" alt=""><span>删除</span></li>\n' +
    //     '                            <li class="col-sm-1"><img src="https://www.wjx.cn/images/newimg/pic-1/folder.png" alt=""><span>文件夹</span></li>\n' +
    //     '                            <li class="col-sm-1 icon-img"><img src="https://www.wjx.cn/images/newimg/pic-1/remind.png" alt=""><span>提醒</span></li>\n' +
    //     '                        </ul>\n' +
    //     '                    </div>\n' +
    //     '                </div>\n' +
    //     '            </div>',
    //     data:function () {
    //         return{
    //             wjxlist:[
    //                 {'id':'201803011029','title':'第一篇问卷','time':'02月28日 09:32'},
    //                 {'id':'201803011035','title':'第二篇问卷','time':'03月1日 10:32'}
    //             ],
    //             currentPage:1
    //         }
    //     },
    //     methods:{
    //         getWjx:function(){
    //             $.ajax({
    //                 url:"{:url('user/center/getUserList')}",
    //                 type:'post',
    //                 dataType:'json',
    //                 data:'page='+this.currentPage,
    //                 success:function (res)
    //                 {
    //                     this.wjxlist = res;
    //                 }.bind(this)
    //             });
    //         }
    //     },
    //     //运用vue的生命周期，在组件被创建的时候，执行Ajax请求，获取数据，更换数组
    //     beforCreate:{
    //
    //     },
    //     created:function ()
    //     {
    //         this.getWjx();
    //
    //         //监听上一页
    //         VueSend.$on('prev',function(){
    //             this.currentPage = this.currentPage-- <= 1 ? 1:this.currentPage--;
    //             this.getWjx();
    //         }.bind(this));
    //         //监听下一页
    //         VueSend.$on('next',function(){
    //             this.currentPage++;
    //             this.getWjx();
    //         }.bind(this))
    //     }
    //
    // });

    //分页组件
    Vue.component('page', {
        template: '<nav>\n' +
        '                <ul  class="pager">\n' +
        '                    <li><a href="">首页</a></li>\n' +
        '                    <li><a @click="prev" href="#">上一页</a></li>\n' +
        '                    <li><a @click="next" href="#">下一页</a></li>\n' +
        '                    <li><a href="">尾页</a></li>\n' +
        '                </ul>\n' +
        '            </nav>',
        methods: {
            prev: function () {
                VueSend.$emit('prev');
            },
            next: function () {
                VueSend.$emit('next');
            }
        }
    });

    //实例化
    new Vue({
        el: '#wjxApp'

        /*  new Vue -> 实例化一个Vue的对象，在实例化过程中，

            vue的生命周期 BeforeCreate 准备创建，

            init 依赖注入过程MVVM的设计模式,

            create vue创建完毕
        */

    });

</script>
</html>