<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <title>首页</title>
    <style>
    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
<!--自定义s-->
<!--<div class="container-fluid">-->
    <!--<nav class="navbar navbar-blue navbar-fixed-top" >-->
        <!--<div class="container">-->
            <!--&lt;!&ndash;以下div 只在移动端显示&ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">-->
                    <!--<span class="text-warning">点我展开</span>-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<a href="#">-->
                    <!--<img class="img-responsive" src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpnyupdxsuj206e02ujrc.jpg" width="140" height="48">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse" id="myNav">-->
                <!--<div class="col-sm-2">-->
                    <!--<a href="#wjx_home">首页<span class="sr-only">(current)</span></a>-->
                <!--</div>-->
                <!--<ul class="nav navbar-nav navbar-left" style="font-size: 20px;">-->
                    <!--<li></li>-->
                    <!--<li><a href="">拍卖场</a></li>-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="#">用户名</a></li>-->
                    <!--<li><a href="#">退出</a></li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" id="navbarDrop2" class="dropdown-toggle" data-toggle="dropdown">网站导航<b class="caret"></b></a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="navbarDrop2">-->
                            <!--<ul>-->
                                <!--<li><a href="">1</a></li>-->
                                <!--<li><a href="">2</a></li>-->
                                <!--<li><a href="">3</a></li>-->
                                <!--<li><a href="">4</a></li>-->
                                <!--<li><a href="">5</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
<!--</div>-->
<!--自定义e-->
<!--头部菜单-->
<div class="head">
    <nav class="navbar navbar-blue navbar-fixed-top" >
        <div class="container">
            <!--以下div 只在移动端显示-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav" aria-expanded="false">
                    <span class="text-warning">点我展开</span>
                    <span class="caret"></span>
                </button>
                <a href="#">
                    <img class="img-responsive" src="https://ws1.sinaimg.cn/large/93ab07cbgy1fpnyupdxsuj206e02ujrc.jpg" width="140" height="48">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="nav navbar-nav navbar-left" style="font-size: 20px;">
                    <li><a href="#wjx_home">首页<span class="sr-only">(current)</span></a></li>
                    <li><a href="">拍卖场</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{:url('web/login/login')}">登录</a></li>
                    <li><a href="{:url('web/register/register')}">注册</a></li>
                    <li class="dropdown">
                        <a href="#" id="navbarDrop2" class="dropdown-toggle" data-toggle="dropdown">网站导航<b class="caret"></b></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDrop2">
                            <ul>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <!--商品分类-->
        <div class="col-lg-3" >
            <ul class="list-group" id="com_type">
                <li class="list-group-item">
                        <span class="glyphicon glyphicon-piggy-bank"></span>
                        <span>闲置数码</span>
                        <span>手机相机</span>
                        <span>手机相机</span>
                        <span>手机相机</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <span>闲置数码</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <span>闲置数码</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <span>闲置数码</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <span>闲置数码</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                    <span>闲置数码</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                    <span>手机相机</span>
                </li>
            </ul>
        </div>
        <!--轮播-->
        <div class="col-lg-6 banner" style="padding: 0;">
            <div class="carousel slide" data-interval="3000" data-ride="carousel" id="carousel_one">
                <div class="carousel-inner">
                    <div class="item active"> <img src="https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/0F/07/ChMkJlauyluIZ1fXAAmHL8tu9YMAAH8swOZeSsACYdH142.jpg" class="img-responsive" alt=""></div>
                    <div class="item"><img class="img-responsive" src="https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/0F/07/ChMkJlauyluIWSxIAAldhctGEyMAAH8swOjAHIACV2d349.jpg" alt=""></div>
                    <div class="item"><img class="img-responsive" src="https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/0F/07/ChMkJlauyluIcxGTAAU55FQ4eNsAAH8swOtnKUABTn8816.jpg" alt=""></div>
                </div>
                <!--小圆点-->
                <ol class="carousel-indicators">
                    <li data-slide-to="0" class="active" data-target="carousel_one"></li>
                    <li data-slide-to="1" data-target="carousel_one"></li>
                    <li data-slide-to="2" data-target="carousel_one"></li>
                </ol>
                <!--箭头-->
                <a style="z-index: 9999" href="#carousel_one" data-slide="prev" class="left carousel-control">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a style="z-index: 9999" href="#carousel_one"  class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!--广告图-->
        <div class="col-lg-3 advert" >
            <img style="width: 100%;" src="http://pic2.sc.chinaz.com/Files/pic/pic9/201803/bpic6098_s.jpg" class="img-responsive" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 hidden-xs" >
            <img src="http://img.ivsky.com/img/bizhi/co/201801/31/chuyu_zai_guangnian_zhiwai-020.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-sm-6 " style="padding: 0;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#present_one" data-toggle="tab">猜你喜欢</a></li>
                <li><a href="#present_two" data-toggle="tab">同城交易</a></li>
                <li><a href="#present_three" data-toggle="tab">全新闲置</a></li>
            </ul>
            <div class="tab-content">
                <div id="present_one" class="tab-pane active fadein">
                      <div style="display: flex;justify-content: space-around;">
                           <div>
                               <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/6000000004586/TB232ihXkUkyKJjy1zjXXX1wFXa_!!0-fleamarket.jpg_160x160.jpg" alt="">
                               <p class="text-center">全新XXX</p>
                           </div>
                            <div>
                                <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/6000000004586/TB232ihXkUkyKJjy1zjXXX1wFXa_!!0-fleamarket.jpg_160x160.jpg" alt="">
                                <p class="text-center">全新XXX</p>
                            </div>
                            <div>
                                <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/6000000004586/TB232ihXkUkyKJjy1zjXXX1wFXa_!!0-fleamarket.jpg_160x160.jpg" alt="">
                                <p class="text-center">全新XXX</p>
                            </div>
                     </div>
                </div>
                <div id="present_two" class="tab-pane fade">
                    <div style="display: flex;justify-content: space-around;">
                        <div>
                            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/TB1VXgcJFXXXXXuXFXXP94F7FXX_160x160.jpg" alt="">
                            <p class="text-center">全新XXX</p>
                        </div>
                        <div>
                            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/TB1VXgcJFXXXXXuXFXXP94F7FXX_160x160.jpg" alt="">
                            <p class="text-center">全新XXX</p>
                        </div>
                        <div>
                            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/TB1VXgcJFXXXXXuXFXXP94F7FXX_160x160.jpg" alt="">
                            <p class="text-center">全新XXX</p>
                        </div>
                    </div>
                </div>
                <div id="present_three" class="tab-pane fade">
                    <div style="display: flex;justify-content: space-around;">
                        <div>
                            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/TB1VXgcJFXXXXXuXFXXP94F7FXX_160x160.jpg" alt="">
                            <p class="text-center">全新XXX</p>
                        </div>
                        <div>
                            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/TB1VXgcJFXXXXXuXFXXP94F7FXX_160x160.jpg" alt="">
                            <p class="text-center">全新XXX</p>
                        </div>
                        <div>
                            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i1/TB1VXgcJFXXXXXuXFXXP94F7FXX_160x160.jpg" alt="">
                            <p class="text-center">全新XXX</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 hidden-xs">
            <img src="http://img.ivsky.com/img/bizhi/co/201801/31/chuyu_zai_guangnian_zhiwai-020.jpg" alt="" class="img-responsive">
        </div>
    </div>
</div>
<!--闲置商品回收-->
<div class="container">
    <h2 class="goodh2" style="position: relative;padding-left: 20px;"><strong>咸蛋回收</strong><span>高价、边界、安全、快速</span><a href=""><span class="glyphicon glyphicon-chevron-right addmore" style=""></span></a></h2>
    <div style="display: flex;justify-content: space-between;flex-wrap: wrap;" >
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
        <div>
            <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
            <p class="text-center">全新XXX</p>
            <p class="text-right">￥<span style="color:red;">666</span>元</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="padding-right: 20px;">
            <div class="row">
                <h2 class="goodh2" style="position: relative;color: white; background: #847a8d;padding-left: 20px;"><strong>咸蛋租赁</strong><span style="font-size: 20px;">随时随地想用就用</span><a href=""><span class="glyphicon glyphicon-chevron-right addmore" style=""></span></a></h2>
                <div style="display: flex;justify-content: space-between;flex-wrap: wrap;" >
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding-left: 20px;">
            <div class="row">
                <h2 class="goodh2" style="position: relative;color: white; background: #498c95;padding-left: 20px;"><strong>咸蛋维修</strong><span style="font-size: 20px;margin-left: 10px;">资深工程师一对一服务</span><a href=""><span class="glyphicon glyphicon-chevron-right addmore" style=""></span></a></h2>

                <div style="display: flex;justify-content: space-between;flex-wrap: wrap;" >
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                    <div>
                        <img class="img-responsive" src="https://img.alicdn.com/bao/uploaded/i3/6000000006266/TB2Zmk0hlfH8KJjy1XbXXbLdXXa_!!0-fleamarket.jpg_200x200.jpg" alt="">
                        <p class="text-center">全新XXX</p>
                        <p class="text-right">￥<span style="color:red;">666</span>元</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--放回顶部-->
<div class="text-center navbar-fixed-top float_foot back-top" id="float_right"  style="width: 35px;background: #000;left: 95%;top: 80% !important;">
    <a class="back-to-top" href="#top">
        <span class="glyphicon glyphicon-chevron-up" style="font-size: 30px;color: white;"></span>
    </a>
    <span id="severtalk" class="glyphicon glyphicon-exclamation-sign" style="font-size: 30px;color: white;border-top: 2px solid  white;"></span>

</div>
<a id="scrollUp" href="javascript:;" title="飞回顶部"></a>

<div style="background: rgba(0, 0, 0, .8);display: flex;justify-content: center;padding:20px 0;" >
    <img src="https://gtms02.alicdn.com/tps/i2/TB1W6egHVXXXXXHXXXXyZnLYXXX-740-115.png" alt="" class="img-responsive">
</div>
<div id="foot_nav">
   <p>
       <span>关于咸蛋</span>
       <span>联系我们</span>
       <span>友情链接</span>
       <span>用户服务协议</span>
       <span>隐私声明</span>
   </p>
    <p>
        ©2018 www.xiandan.com卓越教育水电费科技三路加
    </p>
    <p>
        版权所有
    </p>
</div>
</body>

<script src="__JS__/jquery-3.2.1.js"></script>
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/index.js"></script>
<script>

</script>
</html>
